In [ ]:
print('hello world')

hello world

Intiger, Float

In [ ]:
int(1.0)  
float(2)
str(2)
x = 120
type(x)

Strings

In [ ]:
name = "michael jackson"
name[1]
name[-1]
len('michael jackson')
print('michael jackson \n is the best')
print('michael jackson\t is the best')
print('michael jackson\\ is the best')
print( r'michael jackson \ is the best')

michael jackson
 is the best
michael jackson	 is the best
michael jackson\ is the best
michael jackson \ is the best

Tuples

In [ ]:
A="michael jackson"
B=A.upper()
A="michael jackson"
B=A.replace('michael','janet')
A="michael jackson"
A.find('el')

5

In [ ]:
tuple =("ravi",10,1.2)
tuple[0]
tuple[-2]
tuple1 =("ravi",10,1.2,'raju',23)
tuple1[0:3]
NT =(1,2,('pop','look'),(3,4),('dude',(1,2)))
NT[2]
NT[2][1]
NT[4][0][1]

'u'

**Lists**

In [ ]:
L = ['ravindra', 1.11, 1233, 'A',1]
L[3:5]
L1 =L+['mackbok',12]
L1
# Other wise use extend function
L = ['ravindra', 1.11, 1233]
L.extend(['jack', 11])
L
#Using append
L.append('jack')
L
L = ['ravindra', 1.11, 1233]
#Replace
L[0]='naresh'
L
#Delete
del(L[0])
L
#Split
'hard rock'.split()
'A,B,C,D'.split(",")

['A', 'B', 'C', 'D']

In [ ]:
#Sets
set1 = {'pop','mat','bat','tax','pop','got','pop','bat'}
set1
#converting lists into sets using 'set()'(this called type-casting)
album_list= ['pop','mat','bat','tax',2020]
album_set=set(album_list)
album_set
#Adding to set
A = {'pop','mat','bat','tax','AB/BD'}
A.add('roge')
A
#Removing from set
A.remove('roge')
A
'AB/BD' in A
'pop' in A
#Union of sets
album_set1 = {'bat','tax',2020}
album_set2 = {'bat','tax',2222}
album_set3 = album_set1 & album_set2
album_set3
album_set1.union(album_set2)
#Subset
album_set1 = {'bat','tax',2020}
album_set4 = {'bat','tax'}
album_set4.issubset(album_set1)

True

**Dictionaries**

In [ ]:
dict = {'app': 10, 'bal': 11, 'cat': 12, 'dog': 13}
dict
#Adding new entry
dict['egg'] = '14'
# Deleting
del(dict['egg'])
dict
#Checking
'app' in dict
'egg' in dict
#See all the keys
dict.keys()
#See all the values
dict.values()

dict_values([10, 11, 12, 13])

**Conditions and Branching**

In [ ]:
age= int(input('enter your age'))
if(age>18):
  print('you can enter')
elif(age==18):
  print('go see park')
else:
  print('go see movie')
print('move on')

enter your age19
you can enter
move on

**Logic operators**

In [ ]:
# Operator 'OR'
year= int(input('enter year'))
if(year<2000)or(year>2009):
  print("album was made in 1990's or 2010's")
else:
  print("album wasmade in 2000's")

enter year2022
album was made in 1990's or 2010's

In [ ]:
# Operator 'AND'
year= int(input('enter year'))
if(year>2000) and (year<2009):
  print("album was made in 10's")
else:
  print("album wasmade in before 2000's or after 2010's ")

enter year2001
album was made in 10's

**Loops**

In [ ]:
#'For' loop
square = ['r','y','g','p','b']
for i in range(0,5):
  square[i]='w'
square

['w', 'w', 'w', 'w', 'w']

In [ ]:
# The break statement
i = 1
while i < 6:
  print(i)
  if i ==4:
    break
  i += 1

1
2
3
4

In [ ]:
i = 1
while i < 6:
  print(i)
  if i ==4:
    continue

**Functions**

In [ ]:
def function(a):
  """add 1 to a"""
  b=a+1;
  print(a, "+1=",b)
  return b
#Len function (length of the function )
ratings = [0.4,0.7,0.5,0.2,0.3,0.6]
L=len(ratings)
L
#sum of ratings
S= sum(ratings)
S
ratings
#sorted (new list is created)
sorted_ratings= sorted(ratings)
sorted_ratings
#sort (no new list is created )
ratings.sort()
ratings

6

In [ ]:
# 1.making functions
def add1(a):
  b = a+1
  return b
c= add1(5)
c
d = add1(7)
d

8

In [ ]:
def function(a):
  """add 1 to a"""
  b=a+1;
  return b
  help(add1)
#Multiply
def mult(a,b):
  c=a*b
  return c
mult(2,20)
mult(2,'ravi')

'raviravi'

In [ ]:
def RR():
  print('ravindra')
RR()

ravindra

In [ ]:
def add1(a):
  b = a+1;
  print(a,'plus 1 equals',b)
  return b
add1(4)

4 plus 1 equals 5

5

In [ ]:
def thriller():
  date=1998
  return date
thriller()

1998

In [5]:
ratings = [12,3,121,33,56,66,74]
ratings.sort()
ratings.reverse()
ratings

[121, 74, 66, 56, 33, 12, 3]